<h4>配送先登録/一覧</h4>

<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラーが発生しました
  <% @address.errors.full_messages.each do |address| %>
    <%= message %>
  <% end %>
<% end %>

<table>
  <%= form_with model:@address, url: addresses_path, local:true do |f| %>
  <tr>
    <th>郵便番号(ハイフンなし)</th>
    <td><%= f.text_field :postal_code, placeholder:"0000000" %></td>
    <td></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= f.text_field :address, placeholder:"東京都渋谷区代々木神園町0-0", :size=>"60" %></td>
    <td></td>
  </tr>
  <tr>
    <th>宛名</th>
    <td><%= f.text_field :name, placeholder:"令和道子" %></td>
    <td><%= f.submit '新規登録' %></td>
  </tr>
  <% end %>
</table>


<table border="1" style="border-collapse: collapse">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_address_path(address.id) %>
          <%= link_to "削除する", address_path(address.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
