<%= attachment_image_tag @item, :image, :fill, 150, 150 %>
<%= form_with model:@cart_item, url: cart_items_path, local:true do |f| %>
<table>
  <tr>
    <td><%= @item.name %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @item.introduction %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= @item.with_tax_price.to_s(:delimited) %>(税込)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><%= f.label :amount, "個数選択" %><%= f.select :amount, *[1..10] %></td>
    <td><%= f.hidden_field :item_id, :value => @item.id %></td>
    <td><%= f.submit 'カートに入れる' %></td>
  </tr>
</table>
<% end %>

